body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  outline: 3px;
  outline: solid red;
  align-items: center;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
.header {
  background-color: gray;
}
